*{font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;}

*{
    margin: 0;
    padding: 0;
}

* {
    cursor: crosshair;
 }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}
 
/*----- Animation -----*/

section{
    width: 100%;
    height: 100vh;
    color: #fff;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    position: relative;
    animation: change 10s ease-in-out infinite;
}

h1{
    font-size: 5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 3px solid #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding:5rem 10rem;
}

@keyframes change {
    0%{
        background-position: 0 50%;

    }
    50%{
        background-position: 100% 50%;
        
    }
    100%{
        background-position: 0 50%;
        
    }
}

/*SPC logo and navigation tabs*/

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
nav{
    display: flex;
    padding: 0% 3.5%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 110px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: white;
    display: block;
    margin: auto;
    transition: 0.25s;
}
.nav-links ul li:hover::after{
    width: 100%;
}

/*Code for pop-up styling and animation*/
        .overlay {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.45);
            z-index: 9999;
            transition: opacity 0.3s, visibility 0.3s;
            opacity: 0;
            visibility: hidden;
        }

        .overlay.show {
            opacity: 1;
            visibility: visible;
        }

        .popup {
            position: absolute;
            bottom: 15%;
            left: 50%;
            transform: translateX(-50%) translateY(-25%);
            background-color: rgba(255, 255, 255, 0.5);
            backdrop-filter: blur(8px);
            padding: 20px;
            width: 500px;
            height: 350px;
            max-width: 90%;
            border-radius: 5px;
            text-align: center;
            transition: transform 0.3s;
            font-family: Arial, sans-serif;
            font-size: 16px;
            color: #333;
        }
        

        .overlay.show .popup {
            transform: translateX(-50%) translateY(-50%);
        }

        .popup h2 {
            color: #000;
            margin-top: 0;
            letter-spacing: 2px;
          }

        .popup form {
            display: flex;
            flex-direction: column;
            gap: 15px;
            margin-bottom: 20px;
        }

        .popup label {
            font-weight: bold;
            
        }

        .popup input,
        .popup button {
            width: 100%;
            padding: 5px;
            border-radius: 3px;
            border: 1px solid #ccc;
        }

        .popup button {
            background-color: #007bff;
            color: #fff;
        }

        .club-heading {
            font-family: 'Montserrat', sans-serif;
            font-weight: bold;
            font-size: 24px;
            text-align: center;
        }


        .popup button {
            /* Button styles (send message) */
            background-color: transparent;
            height: 70px;
            width: 250px;
            margin:  15px auto;
            border: 2px solid #000000;
            color: #000000;
            transition: background-color 0.2s ease-in-out;
        }

        .popup button:hover {
            background-color: #000;
            color: #fff;
        }

        /*Close button*/

        .popup a {
            position: absolute;
            top: 8px;
            right: 12px;
            font-size: 15px;
            color: #000;
            text-decoration: none;
          }

        
    